.contact-details-container {
    min-height: 88vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 1.2rem;
    margin-block-start: 5rem;


    & .contact-details {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & img {
            width: 20%;
            border-radius: 50%;
        }

        & .btn {
            background-color: rgb(29, 114, 225);
            color: #fff;
            border: none;
            width: 5rem;
        }
    }
}